* {
  padding: 0;
  margin :0;
  box-sizing: border-box;
}
/* CSS NAVIGASI ATAU HEADER */
header {
  height : 65px;
  width : 100%;
  background-color : rgba(34, 49, 52, 0.9) ;
  position: fixed;
  top : 0;
  z-index : 1000;
}
.container {
  margin : 0 70px;
}
.header-logo .logo{
  width : 160px;
  margin-top: 20px;
  float : right;
}
.header-list ul li {
  list-style: none;

}
.header-list ul li a {
  color : white;
  text-decoration: none;
  float : left;
  padding : 0 25px;
  line-height : 65px;
  transition: all 0.5s;

}
.header-list ul li a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu {
  display : inline-block;
  transform: rotate(90deg);
  margin-top : 23px;
  position : absolute;
  left :90px;
}
.menu span {
  border : 2px solid black;
  border-radius: 2px;
  margin : 0 2px;
  display : none;
}

/* CSS MAIN UTAMA ! */
.banner {
  background-image : url(background2.png);
  position: relative;
  width : 100%;
  height : 100vh;
  overflow: hidden;
  display : flex;
  align-items: center;
  justify-content: center;
}
.banner video {
  position : absolute;
  top : 0;
  left :0;
  width : 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  filter: blur(2px) brightness(40%);

}
.bio {
  position : absolute;
  z-index : 3;
  color : white;
  opacity : 0.7;
  font-size : 60px;
  float : right;
  margin-right : -650px;
}

/* MAIN TITLE */
.main {
  position : relative;
  top : 0;
  left: 0;
  width : 100%;
  background-image: linear-gradient(to bottom,#636e72,white);
  height : 90vh;
}
.main .title {
  text-align: center;
  font-size : 40px;
  padding: 50px 0 90px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight : 400;
  color : #272b2c;
}
.main-side {
  position : relative;

}
.main-side img {
  width : 70vh;
  float : left;
  margin-right : 100px;

}
.main-side p {
  font-size : 20px;
  line-height : 35px;
  color : #32393b;
}

/* CARD ANGGOTA PROFIL */
.cards {
  position: relative;
  top : 0;
  left :0;
  margin-top : 50px;
  display : flex;

}


.card {
  width : 20%;
  background-image: linear-gradient(120deg,#8d8d8d,#1d2629);
  overflow : hidden;
  height : 250px;
  text-align: center;
  border-radius : 50% ;
  transition: all .2s ease;
  margin : 100px 10px;
  flex : auto;
  margin-bottom : -100vh;
}

.card img {
  position: relative;
  z-index : 200;
  display : block;
  width : 200px;
  height : 200px;
  border-radius : 50%;
  border: 4px solid #32393b ;
  object-fit: cover;
  margin : 30px auto 30px auto ;
  transition: all 0.5s ease;

}
.card h3 {
  margin : 20px 0 10px 0;
}
.btn {
  margin-top : 30px;

}
.btn a {
  position : relative;
  display : inline-block;
  width : 150px;
  height : 25px;
  color : white;
  text-decoration: none;
  background-color: white;
  color : black;
  line-height : 25px;
  border-radius : 3px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight : 500;
}
.btn a:active {
  transform: scale(0.9);
}
.founder {
  text-align : center;
  font-weight : normal;
  margin-top : 500px;
  color :#32393b;
}
/* CARD HOVER */
.card:hover {
  width : 20%;
  height : 60vh;
  border-radius : 3px;

}
.card:hover img {
  width : 200px;
  height : 200px;
}


/* MAIN TAMBAHANN ! */
.main-add{
  height: 500px;
}
/*judul di main tambahan*/
.main-title{
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
  border-bottom : 2px solid #dee7ee;
  width : auto;
}

/*box isian nama*/
.nama{
  height : 20px;
  margin-bottom : 10px;
  width : 300px;
  border: 2px solid black;
}

/*box isian email*/
.email{
  height : 20px;
  margin-bottom : 10px;
  width : 300px;
  border: 2px solid black;
}

/*box isian pertanyaan*/
.tanya{
  width : 500px;
  border: 2px solid black;
}

/*tombol kirim*/
.ask-submit{
  width : 500px;
  height: 50px;
  font-size : 20px;
  font-family : times new roman;
  background-color : #dee7ec;
  box-shadow : 0 5px black;
}

/*animasi tombol kirim*/
.ask-submit:hover{
  cursor : pointer;
}

.ask-submit:active{
  box-shadow : none;
  position : relative;
  top: 5px;
}


/*ini adalah footer*/
.footer {
  background-color: rgba(34, 49, 52, 0.9);
  color: #fff;
  height: 140px;
  padding: 20px;
  margin-top: 15%;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
  margin-right: auto;
  padding-right: 30px;
}

.footer-list li {
  list-style: none;
  padding-bottom: 20px;
}
/*akhir dari footer*/
 
